.register {
    $color-modal: linear-gradient(90deg, rgba(0, 1, 30, 1) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        margin: 0;
        padding: 0;
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        border-radius: 10px;
        min-height: 400px;

        .left {
            flex: 1;
            background: linear-gradient(rgba(0, 1, 30, 0.7), rgba(0, 0, 0, 0.7)), url("https://e00-marca.uecdn.es/assets/multimedia/imagenes/2023/06/08/16862469750588.png") center;
            background-size: cover;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1 {
                font-size: 90px;
                line-height: 30px;
            }

            p {
                text-align: left;
            }

            span {
                font-size: 14px;
                text-align: left;
            }

            button {
                background-color: rgba(255, 205, 0, 1);
                color: black;
                width: 50%;
                border: none;
                position: relative;

                align-items: center;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .right {
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1 {
                color: #000;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                    border-radius: 10px;
                }

                .alert {
                    padding: 10px;
                    background-color: #f44336;
                    color: white;
                    margin-bottom: 15px;
                    border-radius: 25px;
                    text-align: center;
                }

                button {
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: rgba(0, 1, 30, 1);
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    position: relative;
                    right: -55px;
                }
            }
        }
    }
}